@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
}

:root{
    --font1: 'Passion One', Arial, Helvetica, sans-serif;
    --font2:'Sriracha', 'Times New Roman', Times, serif;
    --cor1: white;
}

header{
    display: flex;
    font-family: var(--font1);
    color: var(--cor1);
    background-color: black;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 52px;
}
header p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 200;
}

a{
    font-family: var(--font1);
    color: var(--cor1);
    text-decoration: none;
}
.verso{
    font-family: var(--font2);
    padding: 24px;
    margin-left: 16px;
}


.imagem1{
    position: relative;
    width: 100%;
    height: 300px;
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}
.imagem2{
    position: relative;
    width: 100%;
    height: 300px;
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

#verimg{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.26);
    color: white;
    width: 200px;
    height: 200px;
    top: 24px
}

footer{
    font-family: var(--font1);
    background-color: black;
    color: white;
    padding: 24px;
    text-align: center;
}