body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    background-color: white;
    padding: 12px;
    width: 600px;
    text-align: justify;
    margin: auto;
}
iframe{
    width: 500px;
    height: 350px;
    border: 2px solid black;
    display: flex;
    margin: auto;
}