@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: gray;
}

header h1{
    text-align: center;
    padding: 30px;
}

header ul{
    display: flex;
    flex-direction: row;

}

header li{
    list-style: none;
    background-color: darkgray;
    padding: 12px;
}

article{
    background-color: rgba(255, 255, 255, 0.76);
    text-align: justify;
    display: block;
    max-width: 600px;
    min-width: 480px;
    margin: auto;
}

section{
    display: block;
    margin: auto;
    border: solid 2px black;
    background-color: #333eff;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 500px;
}

article h2, p {
    padding: 12px;
}