@charset "UTF-8";
*{
    box-sizing: border-box;
}
header{
    background-color: #13678A;
    color: #DAFDBA;

    text-align: center;
    padding: 30px;
}
body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
}
nav ul{
    background-color: #012030;
    list-style-type: none;
    overflow: hidden; /**/
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none; /*Tira configurações de texto*/
    color: white;
    padding:  16px;
    display: block; /*Configura o formato da palavra como caixa*/
}
nav li {
    float: left;
}
nav a:hover{
    background-color: white;
    color: #13678A;
}
.row{
    padding: 0 20px; /*primeiro valor para cima e baixo e segundo esquerda e direita*/
    width: 60%;
    display: table;
}

.card{
    background-color: white;
    padding: 4px 10px;
    margin-top: 20px;
}
header h1 {
    color: #DAFDBA;
}
article div{
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px #012030;
}
.main{
    float: left;
    background-color: white;
    padding: 20px;
}

p{
    text-align: justify;
}

