@charset "UTF-8";

* {/*Configuaração padrão para a CSS*/
}

body{
    background-image: linear-gradient(-45deg, #E0B936, #E04F36);
    background-attachment: fixed;
    margin: 0;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1{
    text-align: center;
    text-shadow: 1px 1px 2px black; /*Deslocamento lateral, deslocamento para baixo, espalhamento e cor*/
}

p{
    text-align: justify;
}

.teste{
    margin: auto;
    text-align: center;
    padding: 16px;
    width: 75px;
    height: 75px;
    border: 5px solid black;
    background-color: grey;
}

.teste:hover{
    background-color: #E0B936;
    color: white;
}

.teste:active{
    background-color: green;
}

div::after{
    content: "Olá mundo";
}